<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Items</title>
</head>
<body>
    <h1>Stock Items</h1>
    <a th:href="@{/stock/add}">Add New Stock Item</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Stocks</th>
            <th>Actions</th>
        </tr>
        <tr th:each="item : ${stockItems}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.totalStocks}"></td>
            <td>
                <a th:href="@{/stock/edit/{id}(id=${item.id})}">Edit</a> |
                <a th:href="@{/stock/delete/{id}(id=${item.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
