<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Manasvi inventory</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="keywords" />
<meta content="" name="description" />

<!-- Favicon -->
<link href="../images/fevicon.png" rel="icon" />

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
	rel="stylesheet" />

<!-- Icon Font Stylesheet -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet" />

<!-- Libraries Stylesheet -->
<link href="lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
	rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="/css/style.css" rel="stylesheet" />

<style>
    /* Modal Styles */
    .modal {
        display: none; /* Initially hidden */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: 9999; /* Ensure it's on top */
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

</head>

<body>
	<div class="container-fluid position-relative d-flex p-0">
		<!-- Spinner Start -->
		<div id="spinner"
			class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary"
				style="width: 3rem; height: 3rem" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<!-- Sidebar Start -->
		<div class="sidebar pe-4 pb-3">
			<nav class="navbar bg-white text-dark">
				<a href="/" class="navbar-brand mx-4 mb-3">
					<h3 class="text-primary">
						<img class="" src="../images/Manasvi.png" alt=""
							style="width: 100%; height: 60%" />
					</h3>
				</a>

				<div class="navbar-nav w-100">
					<a href="/" class="nav-item nav-link"><i
						class="fa fa-home fs-4 me-2"></i>Dashboard</a>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fas fa-wallet fs-4 me-2"></i>Stocks</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/stock/add" class="dropdown-item">Add Stocks</a> <a
								href="/stock/list" class="dropdown-item">List of Stocks</a>
						</div>
					</div>



					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fas fa-mug-hot fs-4 me-2"></i>Tea
							Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/tea" class="dropdown-item">About Tea's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i
							class="fas fa-glass-whiskey fs-4 me-2"></i>Jars Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/waterjar" class="dropdown-item">About Jar's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fa fa-spa fs-4 me-2"></i>Flower
							Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/flower/list" class="dropdown-item">About Flower's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i
							class="fa fa-birthday-cake fs-4 me-2"></i>Cakes Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/cakes/list" class="dropdown-item">About Cake's</a>
						</div>
					</div>
			</nav>
			
			<!-- Logout button at the bottom -->
			<div class="logout-btn-container">
				<button type="button"
					class="btn logout-btn fw-bold px-2 py-2 fs-5 shadow">
					<i class="fas fa-sign-out-alt me-2"></i> Logout
				</button>
			</div>
			
		</div>
		<!-- Sidebar End -->

		<!-- Content Start -->
		<div class="content">
			<!-- Navbar Start -->
			<nav class="navbar navbar-expand navbar-dark sticky-top px-4 py-0"
				style="background-color: #008bf9;">
				<a href="#" class="sidebar-toggler flex-shrink-0"> <i
					class="fa fa-bars"></i>
				</a>
				<h2 class="ms-5 text-blue">Manasvi Inventory System</h2>
				<div class="navbar-nav align-items-center ms-auto">
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"> <i
							class="text-danger fa fa-bell me-lg-2"></i> <span
							class="d-none d-lg-inline-flex">Notification</span>
						</a>

						<div
							class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0 p-3">
							<!-- Loop over totalStocks to display each stock item -->
							<div th:each="stock : ${totalStocks}"
								th:if="${stock.totalStocks} < 10"
								class="d-flex align-items-center justify-content-between p-2 border-bottom border-white">

								<!-- Stock Name -->
								<strong class="text-white me-2" th:text="${stock.name}"></strong>

								<!-- Stock Count -->
								<span class="badge bg-danger text-white fs-6"
									th:text="${stock.totalStocks}"></span>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<!-- Error Modal -->
			<th:block th:if="${error}">
				<div id="errorModal" class="modal">
					<div class="modal-content">
						<h1 class="text-dark" th:text="${error}"></h1>
					</div>
				</div>
			</th:block>



			<form id="stockForm" method="get"
				class="p-4 bg-white rounded shadow-lg"
				style="border: 2px solid var(--light)">
				<div class="mb-4">
					<label for="stockItem" class="form-label fw-bold fs-5 text-secondary">Select
						Stock Item:</label> <select id="stockItem" name="stockItemId"
						class="form-select bg-white text-dark border-2 border-secondary shadow-sm fw-semibold fs-6 p-3" required>
						<option value="" disabled selected>Select an item</option>
						<option th:each="item : ${totalStocks}" th:value="${item.id}"
							th:text="${item.name}"></option>
					</select>
				</div>

				<div class="mb-4">
					<label for="count" class="form-label fw-bold fs-5 text-secondary">Enter
						Quantity:</label> <input type="number" id="count"
						placeholder="Enter Quantity" name="count"
						class="form-control bg-white text-dark border-2 border-secondary shadow-sm fw-semibold fs-6 p-3" min="1" required>
				</div>

				<div class="d-flex justify-content-between">
					<button type="submit"
						class="btn btn-warning px-4 py-2 fw-bold fs-5">Use Stock</button>
					<a href="/stock/add"
						class="btn btn-secondary px-4 py-2 fw-bold fs-5">Add new Stock</a>
				</div>
			</form>
			<!-- Dashboard items End -->

			<!-- Recent Sales Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="bg-white text-dark rounded-4 shadow-lg p-4 card-hover"
					style="height: 450px; overflow: hidden;">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-4 text-dark fw-bold fs-3 text-center">Current
							Stocks</h6>
					</div>
					<div class="table-responsive"
						style="max-height: 380px; overflow-y: auto;">
						<table
							class="table text-center align-middle table-bordered table-hover shadow-sm">
							<thead class="bg-secondary text-white">
								<tr>
									<th scope="col" class="fw-bold fs-5">Name</th>
									<th scope="col" class="fw-bold fs-5">Available Stock</th>
									<th scope="col" class="fw-bold fs-5">Added Date</th>
									<th scope="col" class="fw-bold fs-5">Update Date</th>
									<th scope="col" class="fw-bold fs-5">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="s : ${totalStocks}"
									class="fw-semibold fs-6 text-dark">
									<td th:text="${s.name}" class="p-3"></td>
									<td th:text="${s.totalStocks}" class="p-3"></td>
									<td th:text="${s.addedDate}" class="p-3"></td>
									<td th:text="${s.updateDate}" class="p-3"></td>
									<td class="p-3"><a
										class="btn btn-warning fw-bold px-4 py-2 shadow mx-3"
										th:href="@{/stock/edit/{id}(id=${s.id})}">Update</a> <a
										class="btn btn-danger fw-bold px-4 py-2 shadow mx-3"
										th:href="@{/stock/delete/{id}(id=${s.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="container-fluid pt-4 mb-5 px-4">
				<div class="bg-white text-dark rounded-4 shadow-lg p-4 card-hover"
					style="height: 450px; overflow: hidden;">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-4 text-dark fw-bold fs-3 text-center">Stock
							History</h6>
					</div>
					<div class="table-responsive"
						style="max-height: 380px; overflow-y: auto;">
						<table
							class="table mb-5 text-center align-middle table-bordered table-hover shadow-sm">
							<thead class="bg-secondary text-white">
								<tr>
									<th scope="col" class="fw-bold fs-5">Name</th>
									<th scope="col" class="fw-bold fs-5">Action</th>
									<th scope="col" class="fw-bold fs-5">Updated Date</th>
									<th scope="col" class="fw-bold fs-5">Old Stocks</th>
									<th scope="col" class="fw-bold fs-5">Current Stocks</th>
									<th scope="col" class="fw-bold fs-5">Issued Stocks</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="s : ${allStockHistories}"
									class="fw-semibold fs-6 text-dark">
									<td th:text="${s.stockItem.name}" class="p-3"></td>
									<td th:text="${s.action}" class="p-3"></td>
									<td th:text="${s.timestamp}" class="p-3"></td>
									<td th:text="${s.oldCount}" class="p-3"></td>
									<td th:text="${s.currentCount}" class="p-3"></td>
									<td th:text="${s.removedItem}" class="p-3"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>





			<script>
				document.getElementById("stockForm").addEventListener("submit", function (event) {
					var stockItemId = document.getElementById("stockItem").value;
					var count = document.getElementById("count").value;

					if (!stockItemId || !count || count <= 0) {
						alert("Please select a stock item and enter a valid quantity.");
						event.preventDefault();
						return;
					}

					// Set the form action dynamically
					this.action = "/stock/use-stock/" + stockItemId + "/" + count;
				});
			</script>

			<script>
				const formatDate = (date) => {
					const year = date.getFullYear();
					const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
					const day = String(date.getDate()).padStart(2, '0');

					return `${year}-${month}-${day}`;
				};

				const currentDate = new Date();
				document.querySelector("#currentDate").innerHTML = formatDate(currentDate);
			</script>

			<!-- Recent Sales End -->


		</div>
	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/chart/chart.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/waypoints/waypoints.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="lib/tempusdominus/js/moment.min.js"></script>
	<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script>
    // Show the modal and hide after 3 seconds
    window.onload = function() {
        const errorModal = document.getElementById("errorModal");
        if (errorModal) {
            // Show the modal
            errorModal.style.display = "flex";
            
            // Hide the modal after 3 seconds
            setTimeout(function() {
                errorModal.style.display = "none";
            }, 3000); // Hide after 3 seconds
        }
    };
</script>

	<!-- Template Javascript -->
	<script src="/js/main.js"></script>
</body>

</html>