<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Manasvi Inventory</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="keywords" />
<meta content="" name="description" />

<!-- Favicon -->
<link href="images/fevicon.png" rel="icon" />

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
	rel="stylesheet" />

<!-- Icon Font Stylesheet -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet" />

<!-- Libraries Stylesheet -->
<link href="lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
	rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet" />
</head>

<body>
	<div class="container-fluid  d-flex p-0">
		<!-- Spinner Start -->
		<div id="spinner"
			class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
			<div class="spinner-border text-primary"
				style="width: 3rem; height: 3rem" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<!-- Sidebar Start -->
		<div class="sidebar pe-4 pb-3">
			<nav class="navbar bg-white text-dark">
				<a href="/" class="navbar-brand mx-4 mb-3">
					<h3 class="text-primary">
						<img class="" src="images/Manasvi.png" alt=""
							style="width: 100%; height: 60%" />
					</h3>
				</a>

				<div class="navbar-nav w-100">
					<a href="/" class="nav-item nav-link"><i
						class="fa fa-home fs-4 me-2"></i>Dashboard</a>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fas fa-wallet fs-4 me-2"></i>Stocks</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/stock/add" class="dropdown-item">Add Stocks</a> <a
								href="/stock/list" class="dropdown-item">List of Stocks</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fas fa-mug-hot fs-4 me-2"></i>Tea
							Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/tea" class="dropdown-item">About Tea's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i
							class="fas fa-glass-whiskey fs-4 me-2"></i>Jars Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/waterjar" class="dropdown-item">About Jar's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fa fa-spa fs-4 me-2"></i>Flower
							Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/flower/list" class="dropdown-item">About Flower's</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i
							class="fa fa-birthday-cake fs-4 me-2"></i>Cakes Section</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="/cakes/list" class="dropdown-item">About Cake's</a>
						</div>
					</div>
				</div>
			</nav>
			
			<!-- Logout Button -->
			<div class="logout-btn-container">
				<a href="/logout"
					class="btn logout-btn fw-bold px-3 py-2 fs-5 shadow"> <i
					class="fas fa-sign-out-alt me-2"></i> Logout
				</a>
			</div>
			
		</div>

		<!-- Sidebar End -->

		<!-- Content Start -->
		<div class="content">
			<!-- Navbar Start -->
			<nav class="navbar navbar-expand navbar-dark sticky-top px-4 py-0"
				style="background-color: #008bf9;">
				<a href="#" class="sidebar-toggler flex-shrink-0"> <i
					class="fa fa-bars"></i>
				</a>
				<!-- <form class="d-none d-md-flex ms-4">
					<input class="form-control bg-dark border-0" type="search"
						placeholder="Search" />
				</form> -->
				<h2 class="ms-5 text-blue">Manasvi Inventory System</h2>
				<div class="navbar-nav align-items-center ms-auto">
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"> <i
							class="text-danger fa fa-bell me-lg-2"></i> <span
							class="d-none d-lg-inline-flex">Notification</span>
						</a>

						<div
							class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0 p-3">
							<!-- Loop over totalStocks to display each stock item -->
							<div th:each="stock : ${totalStocks}"
								th:if="${stock.totalStocks} < 10"
								class="d-flex align-items-center justify-content-between p-2 border-bottom border-white">

								<!-- Stock Name -->
								<strong class="text-white me-2" th:text="${stock.name}"></strong>

								<!-- Stock Count -->
								<span class="badge bg-danger text-white fs-6"
									th:text="${stock.totalStocks}"></span>
							</div>
						</div>
					</div>


					<!--<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <img
								class="rounded-circle me-lg-2" src="images/fevicon.png" alt=""
								style="width: 40px; height: 40px" /> <span class="d-none d-lg-inline-flex">Admin</span>
						</a>
						<div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
							<a href="#" class="dropdown-item">My Profile</a> <a href="#"
								class="dropdown-item">Settings</a> <a href="/logout" class="dropdown-item">Log Out</a>
						</div>
					</div> -->


				</div>
			</nav>
			<!-- Navbar End -->

			<!-- Dashboard items Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="row g-4">
					<!-- Reduced gap -->
					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-wallet fa-3x text-primary mb-2"></i>
							<p class="mb-2 fs-5 fw-semibold text-center">Categories of
								Stocks</p>
							<h3 class="mb-0 fw-bold text-dark"
								th:text="${totalStocks.size()}"></h3>
						</div>
					</div>

					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-calendar fa-3x text-primary mb-2"></i>
							<p class="mb-2 fs-5 fw-semibold text-center">Date</p>
							<h3 id="currentDate" class="mb-0 fw-bold text-dark"></h3>
						</div>
					</div>

					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-mug-hot fa-3x text-primary mb-2"></i>
							<p class="fs-5 fw-semibold text-center">
								Morning Cups: <span class="fw-bold"
									th:text="${morningTeasTotal}"></span>
							</p>
							<p class="fs-5 fw-semibold text-center">
								Evening Cups: <span class="fw-bold"
									th:text="${eveningTeasTotal}"></span>
							</p>
						</div>
					</div>

					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-glass-whiskey fa-3x text-primary mb-2"></i>
							<p class="mb-2 fs-5 fw-semibold text-center">Total Jar's</p>
							<h3 class="mb-0 fw-bold text-dark" th:text="${totalWaterJars}"></h3>
						</div>
					</div>



					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-spa fa-3x text-primary mb-2"></i>
							<p class="mb-2 fs-5 fw-semibold text-center">Flowers in this
								Month</p>
							<h3 class="mb-0 fw-bold text-dark" th:text="${flowers.size()}"></h3>
						</div>
					</div>

					<div class="col-md-6">
						<div
							class="bg-white text-dark rounded-4 shadow-sm d-flex flex-column align-items-center justify-content-center p-4 card-hover"
							style="height: 190px;">
							<i class="fa fa-birthday-cake fa-3x text-primary mb-2"></i>
							<p class="mb-2 fs-5 fw-semibold text-center">Total Cakes</p>
							<h3 class="mb-0 fw-bold text-dark" th:text="${cakes.size()}"></h3>
						</div>
					</div>
				</div>
			</div>



			<!-- Dashboard items End -->

			<!-- Recent Sales Start -->
			<!-- <div class="container-fluid pt-4 px-4">
				<div class="bg-secondary text-center rounded p-4"
					style="height: 450px; overflow: hidden;">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-0">Current Stocks</h6>
						 <a href="">Show All</a>
					</div>
					<div class="table-responsive"
						style="max-height: 380px; overflow-y: auto;">
						<table
							class="table text-start align-middle table-bordered table-hover mb-0">
							<thead>
								<tr class="text-white">
									<th scope="col">Name</th>
									<th scope="col">Available Stock</th>
									<th scope="col">Added Date</th>
									<th scope="col">Update Date</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="s : ${totalStocks}">
									<td th:text="${s.name}"></td>
									<td th:text="${s.totalStocks}"></td>
									<td th:text="${s.addedDate}"></td>
									<td th:text="${s.updateDate}"></td>
									<td><a class="btn btn-sm btn-primary"
										th:href="@{/stock/edit/{id}(id=${s.id})}">Update</a> <a
										class="btn btn-sm btn-danger"
										th:href="@{/stock/delete/{id}(id=${s.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> -->



			<!-- <form id="stockForm" method="get">
				Select Item
				<div class="mb-3">
					<label for="stockItem" class="form-label">Select Stock
						Item:</label> <select id="stockItem" name="stockItemId"
						class="form-control" required>
						<option value="" disabled selected>Select an item</option>
						<option th:each="item : ${totalStocks}" th:value="${item.id}"
							th:text="${item.name}"></option>
					</select>
				</div>

				Input Count
				<div class="mb-3">
					<label for="count" class="form-label">Enter Quantity:</label> <input
						type="number" id="count" name="count" class="form-control" min="1"
						required>
				</div>

				Submit Button
				<button type="submit" class="btn btn-primary">Use Stock</button>

				Back Link
				<a href="/" class="btn btn-secondary">Back to Stock List</a>
			</form> -->



			<!-- <div class="container-fluid pt-4 px-4">
				<div class="bg-secondary text-center rounded p-4"
					style="height: 450px; overflow: hidden;">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-0">Current Stocks</h6>
						 <a href="">Show All</a>
					</div>
					<div class="table-responsive"
						style="max-height: 380px; overflow-y: auto;">
						<table
							class="table text-start align-middle table-bordered table-hover mb-0">
							<thead>
								<tr class="text-white">
									<th scope="col">Name</th>
									<th scope="col">Action</th>
									<th scope="col">Updated Date</th>
									<th scope="col">Old Stocks</th>
									<th scope="col">Current Stocks</th>
									<th scope="col">Issued Stocks</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="s : ${allStockHistories}">
									<td th:text="${s.stockItem.name}"></td>
									<td th:text="${s.action}"></td>
									<td th:text="${s.timestamp}"></td>
									<td th:text="${s.oldCount}"></td>
									<td th:text="${s.currentCount}"></td>
									<td th:text="${s.removedItem}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> -->




			<script>
				document.getElementById("stockForm").addEventListener("submit", function (event) {
					var stockItemId = document.getElementById("stockItem").value;
					var count = document.getElementById("count").value;

					if (!stockItemId || !count || count <= 0) {
						alert("Please select a stock item and enter a valid quantity.");
						event.preventDefault();
						return;
					}

					// Set the form action dynamically
					this.action = "/stock/use-stock/" + stockItemId + "/" + count;
				});
			</script>

			<script>
				const formatDate = (date) => {
					const year = date.getFullYear();
					const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
					const day = String(date.getDate()).padStart(2, '0');

					return `${year}-${month}-${day}`;
				};

				const currentDate = new Date();
				document.querySelector("#currentDate").innerHTML = formatDate(currentDate);
			</script>

			<!-- JavaScript Libraries -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="lib/chart/chart.min.js"></script>
			<script src="lib/easing/easing.min.js"></script>
			<script src="lib/waypoints/waypoints.min.js"></script>
			<script src="lib/owlcarousel/owl.carousel.min.js"></script>
			<script src="lib/tempusdominus/js/moment.min.js"></script>
			<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
			<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

			<!-- Template Javascript -->
			<script src="js/main.js"></script>
</body>

</html>